
.error {width: 100%;color: #f00707 !important;}
.is-invalid{border: 1px solid #f00707 !important;}
.logocustom{color: #C99F78 !important;font-size: 18px;}

.copy-data{cursor: pointer;}
.copy-data.active{background-color: #d7c6bf;cursor: default;}

.website-detl.inner-lists .input-wrp{margin-bottom: 0px;}
.website-detl.inner-lists .input-wrp:last-child{margin-bottom: 20px;}

.paginatation_custom div{padding: 5px 0;}
.paginatation_custom nav div:nth-child(2) div:nth-child(2){display: none;}
nav svg{width: 20px;}

.alert .close{margin: 0 !important;}

#loading{display:none;position:fixed;width:100%;height:100%;top:0;z-index:999999;background:rgba(0,0,0,0.7);text-align:center;font-size:30px;}